bin/
obj/
bin/Debug/net6.0-ios/iossimulator-x64/Microsoft.VisualBasic.dll
.vs/ProjectEvaluation/dms.projects.v5.2
.vs/ProjectEvaluation/dms.projects.v5.2
.vs/ProjectEvaluation/dms.metadata.v5.2
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/v17/.futdcache.v2
.vs/DMS/v17/.suo
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/v17/.futdcache.v2
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/FileContentIndex/496c409e-14fa-46bd-ab71-c577decfd447.vsidx
.vs/
*.vsidx
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/v17/.suo
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/v17/.suo
.vs/ProjectEvaluation/dms.metadata.v5.2
.vs/ProjectEvaluation/dms.projects.v5.2
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/v17/.suo
.vs/DMS/v17/.futdcache.v2
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/v17/.futdcache.v2
.vs/DMS/v17/.suo
*.v2
.vs/DMS/DesignTimeBuild/.dtbcache.v2
.vs/DMS/v17/.futdcache.v2
.vs/DMS/v17/.suo
.vs/ProjectEvaluation/dms.metadata.v5.2
.vs/ProjectEvaluation/dms.projects.v5.2
DMS.csproj
DMS.csproj.user
DMS.csproj.user
.vs/DMS/v17/.suo
.vs/DMS/v17/.suo
DMS.csproj.user
DMS.csproj.user
