<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928477782418-3crv23r38katghl4f9unmo1c456c01r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928477782418-3crv23r38katghl4f9unmo1c456c01r1</string>
	<key>API_KEY</key>
	<string>AIzaSyDwbPYlOrBvr8V4uswGvtwkfjfz_fevLyA</string>
	<key>GCM_SENDER_ID</key>
	<string>928477782418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kansoft.dmsapp</string>
	<key>PROJECT_ID</key>
	<string>dmsapp-4e553</string>
	<key>STORAGE_BUCKET</key>
	<string>dmsapp-4e553.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928477782418:ios:e1e6c7807fe09915e4a14b</string>
</dict>
</plist>